/*/////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*/////////////////////////////////////////////////////////////////////////////*/
.main-wrapper {
  display: block;
  position: relative;
  width: 100%;
}