:root {
    /* fonts */
    --font-open-sans: 'Open Sans', sans-serif;
    --font-lobster: 'Lobster', sans-serif;
    /* colors */
    --dark: #333;
    --white: #ffffff;
    --red: #F44336;
    --grey: rgb(160, 177, 166);
    --dark-grey: rgb(41, 41, 42);
    --dark-blue: #151d25;
  }