/*/////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*/////////////////////////////////////////////////////////////////////////////*/
.checkbox {
    display: none;
}
.container {
    display: block;
    margin-bottom: 10px;
}
.label {
    position: relative;
    padding-left: 18px;
    font-size: 14px;
    font-family: "Source Sans Pro";
    color: rgb(53, 64, 82);
    line-height: 1.2;
    font-weight: normal;
    user-select: none;
    &:before {
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        box-sizing: border-box;
        content: '';
        width: 13px;
        height: 13px;
        border: 1px solid rgb(206, 208, 218);
        border-radius: 2px;
        background-color: linear-gradient( 90deg, rgb(242,244,248) 1%, rgb(255,255,255) 100%);
        z-index: 1;
    }
    &:after {
        display: none;
        position: absolute;
        content: '\f00c';
        font-family: 'Fontawesome';
        font-size: 7px;
        line-height: 13px;
        text-align: center;
        top: 2px;
        left: 2px;
        box-sizing: border-box;
        width: 13px;
        height: 13px;
        z-index: 5;
        color: #ffffff;
    }
}
.label-checked {
    font-weight: bold;
    &:before {
        border-color: rgb(39, 170, 17);
        background-image: linear-gradient( 0deg, rgb(41,179,17) 1%, rgb(87,216,65) 100%);
    }
    &:after {
        display: block;
    }
}
